.counter {
  font-size: $font-size-base * 3;
  font-weight: $font-weight-bold;
  line-height: 1.25;
}

.counter-label {
  display: block;
  color: $gray-600;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}
