.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: map-get($spacers, 10);
  padding: map-get($spacers, 3) 0;
  background-color: $body-bg;
  z-index: $zindex-fixed;
}

.header-brand {
  height: 1rem;
  display: block;

  > img {
    display: block;
    height: 100%;
    width: auto;
  }
}

.with-header {
  padding-top: map-get($spacers, 10);
}
