// import default boostrap styles
@import "~bootstrap/scss/jumbotron";

.jumbotron-img {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  border: $border-width solid $body-color;
  margin-bottom: map-get($spacers, 9);
}

.jumbotron-animated {
}
