// import default boostrap styles
@import "../../../node_modules/bootstrap/scss/progress";

.progress-label {
  display: block;
  margin-bottom: map-get($spacers, 2);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.progress-animated {
  &,
  .progress-bar {
    transform: scaleX(0);
    transform-origin: left;
  }
}

.interaction-in {
  .progress-animated {
    animation: progress-grow 0.35s $cubic-bezier-transition 0.6s forwards;

    .progress-bar {
      animation: progress-grow 0.35s $cubic-bezier-transition 0.75s forwards;
    }
  }
}

@keyframes progress-grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
