.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.section-sub-header {
  margin-top: -(map-get($spacers, 10));
}

.section-body {
  padding-top: map-get($spacers, 10);
  padding-bottom: map-get($spacers, 10);
}

.section-title {
  position: relative;
  margin-bottom: map-get($spacers, 9);
  text-transform: uppercase;
  @include safe-font-size($h1-font-size);
}

.section-subtitle {
  margin-bottom: map-get($spacers, 8);
  font-size: $h5-font-size;
  text-transform: uppercase;
}

.section-footer {
  padding-bottom: map-get($spacers, 3);
}

.section-next {
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: $link-color;

    .section-next-icon {
      animation: next-icon-bounce 0.365s ease-in-out 2;
    }
  }
}

.section-next-counter {
  margin-right: map-get($spacers, 2);
  font-size: $font-size-sm;
  color: $gray-400;
}

.section-next-label {
  margin-right: map-get($spacers, 2);
  font-size: $font-size-xs;
  font-weight: bold;
  text-transform: uppercase;
}

.section-next-icon {
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  margin-bottom: -0.625rem;
  background: transparent
    url(escape-svg(
      "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='40.743' height='17.966' viewBox='0 0 40.743 17.966'><style type='text/css'>#path-1 { animation: bounce .25s ease infinite; }@keyframes bounce {from { transform: translate(0 0); }to { transform: translate(0 5); }}</style><g id='Group_1' data-name='Group 1' transform='translate(-272.157 -1036.73)'><path id='path-1' d='M294.686,1044.529l8.754,8.754,8.754-8.754' transform='translate(0 0)' fill='none' stroke='#{$body-color}' stroke-width='2'/><path id='path-2' d='M313.385,1053.424V1038.6H282.1' transform='translate(-9.946 -0.872)' fill='none' stroke='#{$body-color}' stroke-width='2'/></g></svg>"
    ))
    no-repeat 50% / 100% 100%;
}

@keyframes next-icon-bounce {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
