@mixin make-grid-gutters(
  $gutter: $grid-gutter-width,
  $columns: $grid-columns,
  $breakpoints: $grid-breakpoints
) {
  .container-fluid-limited,
  .container-fluid {
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }

  .row {
    margin-right: -($gutter / 2);
    margin-left: -($gutter / 2);
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .container#{$infix} {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }

    @for $i from 1 through $columns {
      .col#{$infix}-#{$i} {
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;
      }
    }

    .col#{$infix},
    .col#{$infix}-auto {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }
  }
}
